*{font-family: "Comic Sans MS", "Comic Sans", cursive;}
      
header{
    background-color:rgb(27, 111, 145);
    color: yellow;
    font-size:2em;
    padding:1em;
  }
  
  h1{
    font-family: fantasy;
    filter: drop-shadow(5px 5px 2px #4444dd);
  }

  #whatIfContainer hr{
    border-bottom:1px dashed rgb(180, 179, 179);
  }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
  
}